/* Add here all your CSS customizations */
#footer{
    background: linear-gradient(#002103,rgb(17 41 10 / 95%)), url(https://ribeiroemiranda.adv.br/img/bg.jpg);
    border-top: 4px solid #cfa968!important;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 0;
    position: relative;
    clear: both;
    background-size: cover;
    background-position: center;
    /* border-top: 3px #cfa968 solid!important; */
}

#footer .footer-copyright{
    border-top: 0.5px #cfa968 solid!important;
}

.owl-stage{
    transform:translate3d(300px, 0px, 0px)!important;
}

#headerTop{
    /*top: -139px;*/
    background: linear-gradient(rgb(5 64 10 / 99%), rgb(6 21 2 / 96%)), url(https://ribeiroemiranda.adv.br/img/bg.jpg)!important;
    /*background-image: ;*/
    padding: 0px;
    clear: both;
    border-top: 4px solid rgb(207, 169, 104) !important;
    background-position-x: right!important;
    background-size: cover!important;
    background-position: center!important;
}

.py-4{
    padding-top: 2.5rem!important;
}

.menu-item:hover{
    background-color: #CFA968!important;
    color: white!important;
}

.active{
    /*background-color: #CFA968!important;*/
    color: white!important;    
}

#mapa{
    width: inherit;
    height: 250px;
}

.alinhaIcone{
    font-size: 1.7em;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    color: #cfa968;
}

.mg-t55{
    margin-top: 55px;
}

.pd-5{
    padding: 5px;
}

.display-flex{
    display: flex;
}

.img-convenio{
    width: 100%;
    margin: auto;    
}